.account_searcher{
    position: relative;
    width: 250px;
    .account_searcher___input{
        padding: 0.6rem $m-size;
        font-size: $m-size;
        border: 1px solid $lite-grey;
        border-radius: 5px;
        width: 100%;
        outline: none;
    }
    .account_searcher___user-list{
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        a{
            background: white;
            background-image: url('/images/person.png');
            background-repeat: no-repeat;
            background-position: right 10px center;
            color: black;
            font-size: 1.3rem;
            border: 1px solid $lite-grey;
            margin-bottom: -1px;
            padding: 0.5rem $s-size;
            padding-right: $l-size;
        }
        a:hover{
            background: lighten($lite-grey,15);
            background-image: url('/images/person.png');
            background-repeat: no-repeat;
            background-position: right 10px center;
        }
    }
}


@media (max-width: $desktop-breakpoint){
    .account_searcher{
        position: absolute;
        display: inline-block;
        z-index: 1000;
        width: 93%;
        height: 6vh;
        right: $m-size;

        .account_searcher___input{
            height: 5.5vh;
            display: inline-block;
            width: 50vw;
        }
    
        .account_searcher___input:focus{
            width:100%;
        }

        .account_searcher___user-list{
            position: absolute;
            flex-wrap: none;
            width: 100vw;
            height: 100vh;
            top:7.3vh;
            right: -15px;
            background: white;
            a{
                text-align:center;
            }
        }
    }
}

