
button{
    border: 0;
    background: none;
    font-weight: bold;
    border-radius: 2px;
    font-size: $font-size-large;
}

button:focus{
    outline: 0;
}

.login_email{
    @extend button;
    background-color: $green; 
    border-bottom: 3px solid $dark-green; 
}

.login_email:active{
    @extend button;
    background-color: darken($green, 3); 
    border-bottom: 2px solid $dark-green; 
}

.signup{
    @extend .login_email;
}


.login__google{
    @extend button;
    background-color: $red; 
    border-bottom: 3px solid $dark-red; 
    font-size: $font-size-large;
}

.login__google:active{
    @extend button;
    background-color: darken($red, 3); 
    border-bottom: 2px solid $dark-red; 
}

.signup__box{
    @extend button;
    background-color: $blue; 
    border-bottom: 3px solid $dark-blue; 
    margin: auto auto;
    width: 20vw;
}

.signup__box:active{
    @extend button;
    background-color: darken($blue, 3); 
    border-bottom: 2px solid $dark-blue; 
}

.button__upload{
    background: black;
}

.button__blue {
    @extend button;
    background-color: $blue; 
    border-bottom: 3px solid $dark-blue; 
    margin: auto auto;
    color:white;
}

.button__blue:active{
    @extend button;
    background-color: darken($blue, 3); 
    border-bottom: 2px solid $dark-blue; 
}