button{
    border: 0;
    background: none;
    padding: $xs-size $m-size;
    color:white;
    font-weight: bold;
    border-radius: 2px;
}

.login_email{
    @extend button;
    background-color: $green; 
    border-bottom: 3px solid $dark-green; 
}

.login_email:active{
    @extend button;
    background-color: darken($green, 3); 
    border-bottom: 2px solid $dark-green; 
}

.signup{
    @extend .login_email;
}


.login__google{
    @extend button;
    background-color: $red; 
    border-bottom: 3px solid $dark-red; 
    font-size: $s-size;
}

.login__google:active{
    @extend button;
    background-color: darken($red, 3); 
    border-bottom: 2px solid $dark-red; 
}

.signup__box{
    @extend button;
    background-color: $blue; 
    border-bottom: 3px solid $dark-blue; 
}

.signup__box:active{
    @extend button;
    background-color: darken($blue, 3); 
    border-bottom: 2px solid $dark-blue; 
}