.chat_app{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    height: 100%;
    left: 0px;

    .chat_user_online_list{
        position: relative;
        border-right: 1px solid $lite-grey;
        flex-direction: row;
        width: 250px;
        height: 100%;
        padding: $s-size 1px;  
        
        .msg_empty_list{
            display: inline-block;
            font-size: 1.5rem;
            color: darken($lite-grey,5);
            text-align: center;
            width:100%;
        }

        .user_row{
            display: inline-block;
            width:100%;
            font-size: 1.5rem;
            background: white;
            text-align: center;
            color: $dark-grey;
            padding: 0.8rem;
            cursor: pointer;

        }
        .user_online{
            @extend .user_row;
        }

        .user_online:hover{
            background: lighten($lite-grey,15);
        }

    }
}