.footer{
    display: inline-block;
    background: $dark-grey;
    height:10%;
    text-align: center;
    span{
        color:white;
        padding: $m-size auto;
        
    }
}


@media (max-width: $desktop-breakpoint){
    .footer{
        display: none;
    }
}