h2{
    margin:$s-size 0px;
}
.grey_border_box_display{
    border: 1px solid $lite-grey;
    padding: $m-size $xl-size;
}

.grey_border_box_display___inner{
    padding-bottom: $m-size; 
}

.let_me_know_you_more{
    margin: $m-size $xl-size;
    font-size: $font-size-medium;
}

.check_detail{
    @extend .grey_border_box_display;
    label{
        display: block;
        margin: 5px auto;
    }
    .input_label{
        display: inline-block;
        width:80px;
    }
    input{
        text-align: center;
        border-radius: 3px;
        border: 2px solid $dark-red;
        width: 100px;
        margin: auto $s-size;
        font-size: $font-size-medium;
    }
    input:disabled{
        background: white;
        border:0px;        
    }

    .start__edit_input{
        cursor: pointer; 
        color:$orange;
    }

    .end__edit_input{
        cursor: pointer; 
        color:$dark-grey;        
    }

    .confirm_detail{
        @extend .button__blue;
        padding: 0.5rem $m-size;
        margin: $m-size $xl-size;
    }
}




.your_gender{
    @extend .grey_border_box_display___inner;
    .your_gender___option{
        display: flex;
        flex-direction: column;
    }
    label{
        display: flex;
        flex-direction: row;
        font-size: $font-size-large;

        .your_gender___label{
            position: relative;
            top:-4px;
            margin: auto $s-size;
            margin-bottom: 10px;
        }
    }

    input[type=radio]{
        display:none;
    }

    input[type=radio] + .radiomark{
        cursor: pointer;
        width: 15px;
        height: 15px;
        background: $lite-grey;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    input[type=radio] + .radiomark .radiomark_checked{
        display: none;
    }
    input[type=radio]:hover + .radiomark{
        background: darken($lite-grey, 5);
    }

    input[type=radio]:checked + .radiomark{
        background: $orange;
    }

    input[type=radio]:checked + .radiomark .radiomark_checked{
        display:inline-block;
        width: 8px;
        height: 8px;
        background: white;
        border-radius: 50%;
        margin: auto;
    }

}


.your_age{
    @extend .grey_border_box_display___inner;
    input{
        border-radius: 3px; 
        border: 1px solid $lite-grey;
        padding: 0.5rem 0;
        padding-right: $m-size; 
    }
    
}

.your__hobbies{
    @extend .grey_border_box_display___inner;
    position:relative;
    input{
        display: block;
        border-radius: 3px; 
        border: 1px solid $lite-grey;
        padding: 0.5rem 0;
        padding-right: $m-size; 
    }
    .suggestion__list{
        position: absolute;
        display: flex;
        flex-direction: column;
        border-bottom: 0px;
        top:65px;
        z-index: 1000;
        .suggestion{
            cursor: pointer;
            display: inline-block;
            border: 1px solid $lite-grey;
            border-top:0px;
            width: 183px;
            padding: 0.5rem $m-size;
            background: white;
        }
        .suggestion:first-child{
            border-bottom: 1px solid $lite-grey;
            border-top: 1px solid $lite-grey;
        }
        .suggestion:last-child{
            border-radius: 0 0 3px 3px;
        }
        .suggestion:hover{
            background: lighten($lite-grey,15);
        }
    }

    .curr_hobbie__list{
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
        width: 410px;

        .curr_hobbie{
            border: 1px solid orange;
            border-radius: 15px;
            padding: 0.3rem;
            padding-right: 0.7rem; 
            width: auto;
            color: lighten($dark-grey,5);
            margin: 5px;
        }
        button{
            color:orange;
        }

        
    }
}


.your__moto{    
    @extend .grey_border_box_display___inner;
    input{
        display: block;
        border-radius: 3px; 
        border: 1px solid $lite-grey;
        padding: 0.5rem 0;
        padding-right: $m-size; 
    }
}

 .let_me_know_you_more___finish_button{
    @extend .button__blue;
    padding: 0.5rem $m-size;
    margin: $m-size $xl-size;
 }


.exm-enter {
    overflow: hidden;
    max-height: 0;
}
  
.exm-enter.exm-enter-active {
    overflow: hidden;
    max-height: 500px;
    transition: max-height 1.5s ease-out;
}


