*{
  box-sizing: border-box;
  direction: rtl;
}

html {
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  font-weight: bold;
}

.content-container{
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 90%;
}


a{
  text-decoration: none;
}

.error{
  position: fixed;
  display: block;
  top:0;
  left:0;
  width:100%;
  background: $dark-red;
  color: white;
  font-weight: bold;
  font-size: 20;  
  padding: 0.5rem;

}