// Colors
$dark-grey: #232323;
$lite-grey: #cecece;
$dark-blue: #364050;
$off-white: #eeeeee;
$green: #90d62f;
$dark-green: #669920;
$blue: #5c8cdb;
$dark-blue:#3c5e96;
$red: #d1323a;
$dark-red: #a32d33;
$orange: #ed5b17;
// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.5rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
// Fonts
$font-size-small: 1.1rem;
$font-size-medium: 1.5rem;
$font-size-large: 1.8rem;
$font-size-x-large: 2.5rem;